rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAllowedUser() {
      return request.auth != null &&
        request.auth.token.email in
          get(/databases/$(database)/documents/settings/allowedUsers).data.emails;
    }

    match /recipes/{document=**} {
      allow read, write: if isAllowedUser();
    }

    match /settings/allowedUsers {
      allow read, write: if isAllowedUser();
    }

    match /settings/{document} {
      allow read, write: if isAllowedUser();
    }
  }
}
